trunk/WebMisSharp/Service References/CCTWS/ChinaCloudTechWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.ChinaCloudTech.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.ChinaCloudTech.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ChinaCloudTech.com/">
      <s:element name="GetWSInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWSInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWSInfoResult" type="tns:ArrayOfWebServiceInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWebServiceInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WebServiceInfo" nillable="true" type="tns:WebServiceInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WebServiceInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="iname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="incontent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="createdate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="createman" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="hits" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SoftUsingStat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MACID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Remark" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoftUsingStatResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetWSInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetWSInfo" />
  </wsdl:message>
  <wsdl:message name="GetWSInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetWSInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SoftUsingStatSoapIn">
    <wsdl:part name="parameters" element="tns:SoftUsingStat" />
  </wsdl:message>
  <wsdl:message name="SoftUsingStatSoapOut">
    <wsdl:part name="parameters" element="tns:SoftUsingStatResponse" />
  </wsdl:message>
  <wsdl:portType name="ChinaCloudTechWSSoap">
    <wsdl:operation name="GetWSInfo">
      <wsdl:input message="tns:GetWSInfoSoapIn" />
      <wsdl:output message="tns:GetWSInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SoftUsingStat">
      <wsdl:input message="tns:SoftUsingStatSoapIn" />
      <wsdl:output message="tns:SoftUsingStatSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChinaCloudTechWSSoap" type="tns:ChinaCloudTechWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWSInfo">
      <soap:operation soapAction="http://www.ChinaCloudTech.com/GetWSInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoftUsingStat">
      <soap:operation soapAction="http://www.ChinaCloudTech.com/SoftUsingStat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ChinaCloudTechWSSoap12" type="tns:ChinaCloudTechWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWSInfo">
      <soap12:operation soapAction="http://www.ChinaCloudTech.com/GetWSInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoftUsingStat">
      <soap12:operation soapAction="http://www.ChinaCloudTech.com/SoftUsingStat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChinaCloudTechWS">
    <wsdl:port name="ChinaCloudTechWSSoap" binding="tns:ChinaCloudTechWSSoap">
      <soap:address location="http://yj.chinacloudtech.com/ChinaCloudTechWS.asmx" />
    </wsdl:port>
    <wsdl:port name="ChinaCloudTechWSSoap12" binding="tns:ChinaCloudTechWSSoap12">
      <soap12:address location="http://yj.chinacloudtech.com/ChinaCloudTechWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>